body {
    background-color: #2B2B2B;
}

.navbar {
    background-color: #2A2A2A;
    width: 100%;
    height: 50px;
    font-size: 16px;
    align-items: center;
    display: flex;
    gap: 30px;
    padding: 20px;
}

.tray {
    color: #ff6700;
    font-size: 20px;
    margin: 10px;
    align-items: center;
}

.main {
    display: flex;
    width: 100%;
    height: calc(100vh - 70px);
}

/* .menu_container { */
/*     flex: 8; */
/*     background-color: #2b2b2b; */
/*     padding: 20px; */
/*     gap: 20px; */
/*     display: flex; */
/*     flex-direction: row; */
/*     box-sizing: border-box; */
/* } */
.menu_container {
    flex: 8;
    background-color: #2b2b2b;
    padding-right: 20px;
    padding-left: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    align-items: start;
    align-content: start;
    box-sizing: border-box;
}

.menu {
    height: auto;
    min-height: 150px;
    background-color: #363636;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
}



.menu_info {
    flex: 8;
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-size: 18px;
    justify-content: space-between;
}

.menu_top {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.menu_stock {
    font-size: 14px;
}

.side {
    flex: 2;
    background-color: #252525;
    padding: 20px;
}

.menu_qty {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.qty_button {
    background-color: #222;
    color: white;
    font-size: 18px;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}

.qty_display {
    font-size: 18px;
    color: white;
}
